# dependencies
node_modules/

# Next.js
.next/
out/
build/

# production
dist/

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# deployment
.vercel/
.netlify/
