@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #24312f;
  background: #fffaf1;
}

img {
  max-width: 100%;
  display: block;
}
